<!DOCTYPE html>
<html lang="pl">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Wypożyczalnia Filmów</title>
</head>
<body>
    <header>
        <h1>Witamy w Wypożyczalni Filmów</h1>
    </header>
    <main>
        <h2>Nasze filmy</h2>
        <div id="films">
    {% for film in films %}
        <div class="film">
            <h3>{{ film.title }}</h3>
            <p>{{ film.description }}</p>
            <p><strong>Rok produkcji:</strong> {{ film.release_year }}</p>
            <p><strong>Kategoria:</strong> {{ film.category.name }}</p>
        </div>
    {% empty %}
        <p>Brak filmów do wyświetlenia.</p>
    {% endfor %}
</div>
    </main>
    <footer>
        <p>&copy; 2024 Wypożyczalnia Filmów</p>
    </footer>
</body>
</html>
